/* You can add global styles to this file, and also import other style files */
.green-icon
{
    background-color: green;
    color:whitesmoke;
}
.red-icon
{
    background-color: red;
    color:whitesmoke;
}